<div class="row">
    <div class="col-xs-12">
        <div class="col-xs-12">
            <button class="btn btn-success" (click)="onNewDateSelected()">
                Yeni Tarih
            </button>
            <button type="button" class="btn btn-danger" [disabled]="!condition"  style="margin-left: 5px;" (click)="deleteDate()" >Sil</button>
            
        </div>
        <hr>
        <div class="col-xs-12">
            <a style="cursor: pointer;" routerLinkActive="active" class="list-group-item clearfix"
                (click)="showWorks(item,i)" *ngFor="let item of getDates();let i=index" [routerLink]="[i]">
                {{item.datename}}
                <span class="badge">Tarih</span>
            </a>

        </div>
    </div>
</div>
