
<!--<div>
    <table align="center">
      <tr>
        <td>Yapılacak işi giriniz.</td>
        <td><input [(ngModel)]="text" type="text" id="workcount">
          <button (click)="createInputs(text)">ekle</button></td>
      </tr>
    </table>
  </div>-->
  <!--<div *ngIf="!condition;else newdate">
  <form [formGroup]="workForm" (ngSubmit)="createInputs()">
    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          <label for="workname">Name</label>
          <input type="text" [(ngModel)]="text" id="workname" formControlName="workname" class="form-control">
        </div>
      </div>
      <div class="col-xs-12">
        <button type="submit" class="btn btn-primary">Ekle</button>
      </div>
    </div>
  </form>
<div>
    <table align="center">
      <tr>
        <h2>Yapılan İşler:</h2>
      </tr>
      <tr>
        <div *ngFor="let item of getundoneItems();index as i">
          <td> <b>{{i+1}}-</b></td>
          <td> {{item.workname}}</td>
  
  
  
  
        </div>
      </tr>
    </table>
  </div>
  <div>
    <table align="center">
      <tr>
        <td>
          <h2>Yapılacaklar Listesi:</h2>
        </td>
      </tr>
      <tr>
        <div *ngFor="let item of getdoneItems();index as i">
  
          <td><b>{{i+1}}-</b></td>
          <td> {{item.workname}}
  
  
            <input type="checkbox" [(ngModel)]="item.done"  (click)="updateItem(item)" id="works">
            <label class="custom-control-label" for="works">Yapıldı</label></td>
        </div>
  
      </tr>
  
    </table>
  </div>
</div>
<ng-template #newdate>
    <app-newdate></app-newdate>
</ng-template>-->

<div class="row">
  <div class="col-md-4">
    <app-dates></app-dates>
  </div>
  <div class="col-md-6">
    <router-outlet></router-outlet>
  </div>
</div>
