<app-header></app-header>
<!--<div>
  <table align="center">
    <tr>
      <td>Yapılacak işi giriniz.</td>
      <td><input [(ngModel)]="text" type="text" id="workcount">
        <button (click)="createInputs(text)">ekle</button></td>
    </tr>
  </table>
</div>

<table align="center">
  <tr>
    <app-done-works></app-done-works>
  </tr>
  <tr>
    <app-undone-works></app-undone-works>
  </tr>

</table>-->

<!--<div class="row">
  <div class="col-xs-6 col-md-4">
    <app-dates></app-dates>
  </div>
  <div class="col-xs-6 col-md-4">
    
    <app-works></app-works>
    
  </div>
  
  

  
</div>-->

<div class="container" >
  
  <div class="row">
<div class="col-md-12" >
  <router-outlet></router-outlet>
</div>

  </div>
  
</div>
