<form [formGroup]="dateForm" (ngSubmit)="onAddDate()">
  <div class="row">
    <div class="col-xs-12">
      <div class="form-group">
        <label for="datename">Yeni tarihi giriniz</label>
        <input
          type="text"
          [(ngModel)]="newdate"
          id="datename"
          formControlName="datename"
          class="form-control"
        />
      </div>
    </div>
    <div class="col-xs-12">
      <button type="submit" class="btn btn-primary">Ekle</button>
    </div>
  </div>
</form>
