<ul class="nav navbar-nav navbar-right">
    <li *ngIf="!isAuthenticated">
        <a style="cursor: pointer;" (click)="open()">Kayıt Ol</a>
    </li>
    
    </ul>

<div #modal class="modal " id="largeShoes" tabindex="-1" role="dialog" aria-labelledby="modalLabelLarge" aria-hidden="true">
    <div class="modal-dialog modal-sm">
    <div class="modal-content">
    
    <div class="modal-header">
        <button type="button" (click)="close()" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
   
    
    <div class="alert alert-danger" *ngIf="error">
        <p>Aynı kullanıcı adı kullanılmakta!</p>
      </div>
      <div class="alert alert-success" *ngIf="successStatus">
        <p>Başarılı Kayıt</p>
      </div>
      <h4 class="modal-title" id="modalLabelLarge">Kayıt Ol</h4>
    </div>
    <div class="modal-body">
    <form #authForm="ngForm" (ngSubmit)="sign(authForm)">
        <div class="form-group">
            <label>Kullanıcı Adı</label>
            <input  class="form-control" placeholder="Kullanıcı Adı" ngModel required
            name="username">
        </div> 
        <div class="form-group">
        
            <label>Şifre</label>
            <input class="form-control" placeholder="******" type="password" ngModel required
            name="password">
        </div> 
        
  
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block" [disabled]="!authForm.valid"> Kayıt  </button>
        </div>                                                           
    </form>
</div>
    <!--<div class="modal-body">
        <input type="text" [(ngModel)]="text" id="username"  class="form-control">
        <input type="text" [(ngModel)]="password" id="password"  class="form-control">
        <button class="btn btn-primary" (click)="sign()" style="margin-top: 10px;">Kayıt Ol</button>
        <button class="btn btn-danger" (click)="close()" style="margin-top: 10px;"  >Kapat</button>
    </div>-->
    
    </div>
    </div>
    </div>
