<button (click)="open()" class="btn btn-primary"  >Tarih Güncelle</button>
<div #modal class="modal " id="largeShoes" tabindex="-1" role="dialog" aria-labelledby="modalLabelLarge" aria-hidden="true">
    <div class="modal-dialog modal-sm">
    <div class="modal-content">
    
    <div class="modal-header">
    <h4 class="modal-title" id="modalLabelLarge">Güncelleme işlemi</h4>
    
    
    
    </div>
    
    <div class="modal-body">
        
            <button  class="btn btn-primary" style="margin-right: 5px;" [disabled]="condition" (click)="update()">
                Güncelle
            </button>
            <button (click)="close()" class="btn btn-warning"  >Kapat</button>
        
        
            <a  style="cursor: pointer;"  class="list-group-item clearfix "
                (click)="showWorks(item,i,$event)" *ngFor="let item of getDates();let i=index" appActiveDirective>
                {{item.datename}}
                <span class="badge">Tarih</span>
            </a>

        
    </div>
    
    </div>
    </div>
    </div>
